.main {
    color: white;
}
.img {
    width: 120px;
    height: 120px;
    border-radius: 13px;
    margin: 35px 20px 30px;
}
.input {
    display: none;
    border-radius: 40px;
} 
.iconKa {
    width: 30px;
    height: 30px;
}
.conainer {
    display: flex;
    width: 1150px;
    margin: auto;
}
.userLastname {
    font-size: 19px;
    color: aqua;
    margin-bottom: 12px;
}
.horiz{
    text-align: center;
    border: solid 0.1px;
}
.cont2 {
    margin: 0  195px;
}
.pathPhot {
    cursor: pointer;
}
.email {
    margin-left: 15px;
}
.phone{
 margin-left: 15px;
}
.info{ 
    margin-top: 38px;
    margin-left: 50px;
    flex-wrap: wrap;
}
.userName {
    margin-bottom: 12px;
    font-size: 19px;
}
.age {
    font-size: 19px;
}
.sidebar {
    margin-left: 197px;
}
.title {
    margin-left: 30px;
    font-size: 22px;
}
.horiz2 {
    border: solid 0.1px;
    width: 140px;
    margin-right: 1500px;
}