.main{
    width: 1550px;
    height: 50px;
    margin-top: 20px;
}
.populite {
    display: flex;
    justify-content: space-around;
}
.slova {
    text-decoration: none;
    color: white;
    margin-top: 5px;
}
.denomination {
    font-size: 22px;
    color: white;
    font-style: normal;
    font-family:'Itim';
}
.slova2 {
    color: rgb(189, 226, 231);
    margin-top: 5px;
    text-decoration: none;
}
.header {
    width: 100%;
    height: 70px;
    background: linear-gradient(26.04deg,  rgb(19, 21, 89), rgba(23, 24, 54, 1));
    position: fixed;
}
.img {
    width: 40px;
    border-radius: 22px;
    position: absolute;
    margin-left: 5px;
    margin-top: -8px;
}
