.card {
  align-items: center;
  width: 27%;
  margin-bottom: 30px;
  height: 100%;
  color: white;
}
.card:hover {
  box-shadow: -5px -5px 5px -5px rgba(240, 223, 214, 0.6) inset;
  /* transform: scale(1.05); */
  transform: rotate(0deg) scale(1.1) skew(-1deg) translate(0px);
}

.card_img {
  width: 100%;
  height: 300px;
}
.nav_servName {
  color: white;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.course_info s {
  color: red;
}
.format_card {
  display: flex;
}
.course_info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: auto;
}

.online {
  padding: 5px;
  /* border: 1px solid red; */
  color: yellow;
}
.offline {
  padding: 5px;
  color: green;
}
.button_second {
  cursor: pointer;
  padding: 5px;
  font-size: 30px;
}
