.newCourse{
  display: flex;
  width: 100%;
  margin-left: 150px;
}
.newCourse_wrap{
  width: 40%;
}
.img {
  width: 200px;
}
.newCourse_img{
  width: 270px;
  height: 270px;
}
.newCourse_img img{
  width: 100%;
  height: 100%;
}
.titleCourse {
  font-size: 22px;
  margin-left: 150px;
}

.textAr {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:6px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}
.select {
  border-radius: 6px;
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
}
.inpi {
  border-color: rgb(167, 167, 167);
  width: 240px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #dfdfdf;
}
.textarea {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgb(28, 28, 28);
  height:150px;
  background-color:  #dfdfdf;
}
.select {
  position: relative;
  display: block;
  min-width: 220px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  background: rgb(216, 216, 216);
  border-radius: none;
}

.select__head {
  width: 100%;
  max-width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 14px 15px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(66, 67, 72, 0.8);
  cursor: pointer;
}

.select__head::after {
  width: 10px;
  height: 6px;
  background: #FFF url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%23ED266A'/%3E%3C/svg%3E%0A") no-repeat center / cover;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  content: '';
  display: block;
  transition: .2s ease-in;
}

.select__head.open::after {
  transform: translateY(50%) rotate(180deg);
}

.select__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #F8F9FA;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D9D9D9;
}

.select__list .select__item {
  position: relative;
  border-top: 1px solid rgba(224, 229, 231, 0.5);
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
}

.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}
.titleCor {
  font-size: 18px;
}
.inpii {
  border-color: rgb(167, 167, 167);
  width: 120px;
  height: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 4px;
}
.boton1{
  background:#eee;
  color: #088 inset;
  text-decoration:none;
  display:block;
  width:90px;
  text-align:center;
  margin-top: 35px;
  padding:10px 10px;
  transition:all 0.3s;
  margin-bottom: 10px;
  border-radius: none;
  }
 .boton1:hover{
  box-shadow:0px -11px 0 #088 inset;
}