.titleBlock {
  margin-top: 7%;
}

.title h1 {
  color: white;
}

.title p {
  color: white;
}
.rodBlock {
  display: flex;
  flex-wrap: wrap;
  color: #232323;
  width: 99%;
  margin: auto;
}

.discription {
  padding: 5px 10px;
}
.cardBlcok {
  padding: 0;
  max-width: 330px;
  width: 330px;
  vertical-align: middle;
  margin: 15px 15px;
  background-color: white;
  /* word-break: break-all; */
  height: 400px;
  overflow: auto;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  padding-bottom: 50px;
}

.number {
  margin-top: 7%;
}
.radius4 {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  font-size: 30px;
  margin-top: 30px;
  color: #f8fffb;
  padding: 0;
  text-align: center;
  margin: auto;
  background-color: #e53b07;
  border-radius: 70%;
}

.radius3 {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  font-size: 30px;
  margin-top: 30px;
  color: #f8fffb;
  padding: 0;
  text-align: center;
  margin: auto;
  background-color: #07e5ca;
  border-radius: 70%;
}
.radius2 {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  font-size: 30px;
  margin-top: 30px;
  color: #f8fffb;
  padding: 0;
  text-align: center;
  margin: auto;
  background-color: #232323;
  border-radius: 70%;
}
.radius {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  font-size: 30px;
  margin-top: 30px;
  color: #f8fffb;
  padding: 0;
  text-align: center;
  margin: auto;
  background-color: orange;
  border-radius: 70%;
}
.cardBlcok::-webkit-scrollbar {
  width: 0;
}

.cardBlcok button {
  height: 50px;
}

.click {
  color: #9c4df4;
  border-color: #9c4df4;
  background-color: white;
  width: 162px;
  height: 44px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  margin-left: 25%;
  margin-bottom: 2%;
  cursor: pointer;
}
.click:hover {
  color: white;
  border-color: white;
  background-color: #9c4df4;
  width: 162px;
  height: 44px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  margin-left: 25%;
  margin-bottom: 2%;
}

.title {
  margin: auto;
  width: 67%;
  text-align: center;
}
.title h1 {
  font-size: 50px;
}
.title p {
  width: 60%;
  margin-left: 20%;
}
.buttons {
  width: 180px;
  border: none;
  height: 50px;
  background: #9c4df4;
  border-radius: 10px;
  color: white;
  margin: 5% auto 5% 45%;
  cursor: pointer;
}
