.div1 {
  padding-top: 90px;
  min-height: 90vh;
}
body {
  background: linear-gradient(26.04deg, rgb(24, 26, 100), rgba(23, 24, 54, 1))
    center center fixed;
  background-repeat: no-repeat;

  background-size: 100% 100%;
}
